[submodule "SyncModules"]
	path = SyncModules
	url = git@github.com:paulviville/SyncModules.git
[submodule "SyncModulesViews"]
	path = SyncModulesViews
	url = git@github.com:paulviville/SyncModulesViews.git
